<h1 class="page-title">Album</h1>

<% if (album.media().length === 0) { %>
  <h1 class="page-title">The album appears to be empty</h1>
<% } %>

<ul class="album">
  <% album.media().each(function (medium) { %>
    <li>
      <div class="medium">
        <img class="profile-pic" src="<%= medium.escape('poster_profile')%>" alt="" />
        <h4> <%=medium.escape('poster')%> </h4>
        <a href="<%= medium.escape('link') %>">
          <img class="medium-frame" src="<%= medium.escape('url')%>" alt="" />
        </a>
        <p>
          <%= medium.escape('caption') %>
        </p>
      </div>
    </li>
  <% }); %>
</ul>
