<!DOCTYPE html>
<html>
<head>
  <title>Taglee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Sign In with Instagram", "https://api.instagram.com/oauth/authorize/?client_id=2d4b160efb7248e983383029b9e904e8&redirect_uri=http://localhost:3000/users/auth/instagram/callback&response_type=code" %>

<%= yield %>

</body>
</html>
